h1{
color: green;
}

.name{
    color: yellow;
}
h1{
color: orange;
}

h1{
    color: aqua;
}
.location{
    background-color: #f00;
}
p{
    background-color:blue ;
}
#demo{
    background-color:  chocolate;

}